body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://metrouk2.files.wordpress.com/2016/04/olympic-rings.jpg?quality=80&strip=all&strip=all');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
